.btnContainer {
  margin-top: 11rem;
  margin-bottom: 3rem;

  button {
    text-transform: capitalize;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: var(--font-weight-300);
    background-color: transparent;
    color: var(--color-pry-200);
    letter-spacing: 0.05rem;
    padding: 0;
  }
}

.checkoutContainer {
  display: flex;
  margin-bottom: 3rem;

  @media screen and (max-width: 950px) {
    flex-direction: column;
  }
}

.checkoutForm {
  background-color: var(--color-sec-200);
  margin-right: 1rem;
  border-radius: 10px;
  width: 66.6%;
  padding: 3rem;

  @media screen and (max-width: 950px) {
    width: 100%;
    margin-right: 0;
  }

  h2 {
    margin-bottom: 2rem;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }

  form {
    h3 {
      margin: 2rem 0rem 1rem;
      text-transform: uppercase;
      font-size: 0.8125rem;
      color: var(--color-pry-100);
      letter-spacing: 0.1rem;
    }
  }
}

.inputGroup {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;

  &__item {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-bottom: 2rem;

    label {
      text-transform: capitalize;
      font-size: 0.75rem;
      letter-spacing: -0.013125rem;
      margin-bottom: 0.75rem;
      font-weight: 700;
    }

    input {
      min-height: 3.5rem;
      border-radius: var(--border-radius);
      border: 0.1rem solid rgb(207, 207, 207);
      font-family: var(--font-pry-100);
      padding: 0rem 1.5rem;
      color: var(--color-sec-400);
      font-weight: var(--font-weight-400);
      font-size: 0.875rem;
      text-transform: capitalize;
      background-color: var(--color-sec-200);

      &:hover {
        outline: 0.1rem solid var(--color-pry-100);
      }

      &:focus {
        outline: 0.1rem solid var(--color-pry-100);
      }
    }
  }
}


.paymentDetailsContainer {
  display: flex;
  justify-content: space-between;

  p {
    text-transform: capitalize;
    font-size: 0.75rem;
    letter-spacing: -0.013125rem;
    margin-bottom: 0.75rem;
    font-weight: 700;
  }
}

.paymentDetailsRadioContainer {
  width: 50%;
  margin-bottom: 3rem;

  div {
    min-height: 3.5rem;
    border-radius: var(--border-radius);
    border: 0.1rem solid var(--color-pry-600);
    font-family: var(--font-pry-100);
    padding-left: 1rem;
    color: var(--color-sec-400);
    font-weight: var(--font-weight-400);
    font-size: 0.875rem;
    text-transform: capitalize;
    background-color: var(--color-sec-200);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 1rem;

    &:hover {
        outline: 0.1rem solid var(--color-pry-100);
      }

      &:focus {
        outline: 0.1rem solid var(--color-pry-100);
      }
  }

  input {
    display: none;
    transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;

    
    & + ::before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      border-style: solid;
      border-width: 0.1rem;
      border-color: var(--color-pry-600);
      margin-right: 1rem;
      transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
    }

    &:checked + ::before {
      transition: all 1s cubic-bezier(1, 0, 0, 1) 0s;
      background: radial-gradient(
        var(--color-pry-100) 0%,
        var(--color-pry-100) 40%,
        transparent 50%,
        transparent
      );
      border-color: var(--color-pry-100);
    }

  
  }

  label {
    margin-left: 1rem;
    height: 3.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
  }
}

.cashOnDelivery {
    flex: 4 1 0%;
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-weight: var(--font-weight-100);
    letter-spacing: 0.05rem;
}


.checkoutSummary {
    background-color: var(--color-sec-200);
    max-height: 650px;
    margin-left: 1rem;
    border-radius: 10px;
    width: 33.3%;
    position: sticky;
    top: 7rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width: 950px) {
      width: 100%;
      margin-left: 0;
      margin-top: 2rem;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1.125rem;  
        margin: 0;
        margin-bottom: 2rem;
    }

    &_middle {
      height: 250px;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      overflow-y: scroll;
      padding-bottom: 3rem;

      &_empty {
        font-weight: 700;
        text-align: center;
        
      }
    }

    
  }

  .totals {

    div {
      display: flex;
      justify-content: space-between;
      padding-bottom: .8rem;

    }

    &_heading {
      text-transform: uppercase;
      font-size: 0.8rem;
      line-height: 1.5625rem;
      font-weight: var(--font-weight-400);
      color: var(--color-sec-700);
      letter-spacing: 0.05rem;
      margin: 0;
    }

    &_number {
      font-size: 0.9375rem;
      line-height: 1.5625rem;
      font-weight: var(--font-weight-400);
      margin: 0;
      letter-spacing: 0.05rem;
    }
  }